<a href="https://colab.research.google.com/github/nalymugwe/DataCquence/blob/main/Data_Cquence_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pwd

/content

In [2]:
!ls

sample_data

In [3]:
#Mount Colab onto Google Drive for easier extraction of files
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
#First import the operating system and confirm the list of files.
import os
os.chdir('/content/gdrive/MyDrive/Data Science/Data')
!ls

 ks-projects-201801.csv
'Measurement and analysis of Youtube Trending Videos.gdoc'
'Project ideas to tackle.gdoc'
 services_annual_dataset.zip
 YouTubedata_20210106_220013B.csv
 Youtubedata_20210109_213012A.csv
'YoutubeData.csv - Trending Videos.zip'
'YouTube Project Files.zip'

In [5]:
#Import the relevant libraries
import numpy as np
import pandas as pd
#Read the CSV file
KSProject = pd.read_csv('/content/gdrive/MyDrive/Data Science/Data/ks-projects-201801.csv')
KSProject.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
4  1000011046  ...      19500.00

[5 rows x 15 columns]

In [6]:
#Inspect the column structure of the data
KSProject.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

In [7]:
#Find the Kick starter category with the most number of failed fund-raising projects
Dataset = KSProject['category'].value_counts('state'=='failed')
Dataset.head()

Product Design    22314
Documentary       16139
Music             15727
Tabletop Games    14180
Shorts            12357
Name: category, dtype: int64

In [9]:
#Calculate the average pledged amount for all successful projects, group by currency
Dataset2 = KSProject.iloc[:, [4, 8, 9]] #To get the columns I need
Dataset3 = Dataset2[Dataset2['state']=='successful']
Dataset3.groupby('currency') ['pledged'].mean()

currency
AUD     23838.241512
CAD     22943.676425
CHF     59409.893957
DKK    120417.841713
EUR     29285.205299
GBP     11425.423845
HKD    312160.410185
JPY    602579.428571
MXN     93042.759242
NOK    106935.703006
NZD     20506.494196
SEK    190524.241139
SGD     37534.728427
USD     23224.491061
Name: pledged, dtype: float64

In [10]:
#Calculate the average pledged amount for all failed projects, group by currency.
Dataset2 = KSProject.iloc[:, [4, 8, 9]] #To get the columns I need
Dataset4 = Dataset2[Dataset2['state']=='failed']
Dataset4.groupby('currency') ['pledged'].mean()

currency
AUD      1463.513525
CAD      1366.933904
CHF      2357.404753
DKK      6696.072557
EUR      1226.068236
GBP       938.623944
HKD     15174.159119
JPY    337740.625000
MXN      5236.850463
NOK      7008.694038
NZD      1514.417554
SEK      8078.665954
SGD      2279.094746
USD      1330.723810
Name: pledged, dtype: float64

In [11]:
#What year had the most successful number of kick-starter projects?
KSProject['launched'].value_counts('state'=='failed')

1970-01-01 01:00:00    7
2015-01-20 22:22:33    2
2012-02-03 20:56:48    2
2013-10-24 22:07:45    2
2014-07-08 15:08:48    2
                      ..
2012-01-28 22:07:38    1
2010-10-08 17:44:33    1
2011-12-06 05:50:25    1
2015-01-07 15:06:43    1
2015-03-02 18:52:15    1
Name: launched, Length: 378089, dtype: int64

In [12]:
#Calculate the total number of unique categories in the dataset (do not count duplicate categories)?
KSProject.nunique().drop_duplicates

<bound method Series.drop_duplicates of ID                  378661
name                375764
category               159
main_category           15
currency                14
deadline              3164
goal                  8353
launched            378089
pledged              62130
state                    6
backers               3963
country                 23
usd pledged          95455
usd_pledged_real    106065
usd_goal_real        50339
dtype: int64>